@font-face {
    font-family: Ubuntu-Regular;
    src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

* {
    box-sizing: border-box;
    font-family: Ubuntu-Regular;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.8;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    margin: 0 auto;
    background-color: rgb(230, 221, 221);
}

.header {
    position: sticky;
    height: 200px;
    top: 0;
    z-index: 1;
    background-color: rgba(168, 168, 168, 0.5);
    transition: transform 0.8s linear;
}

.header.hide {
    transform: translateY(-200px);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 60px;
    margin-right: 20px;
}

.title__inner {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 30px 0 30px 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.search__input {
    width: 100%;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(116, 112, 112);
    outline: none;
}

.search__btn {
    padding: 10px 15px;
    background-color: rgb(175, 180, 200);
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    transition: background-color, color 0.2s ease-in;
}

.search__btn:hover {
    background-color: rgb(93, 201, 231);
    color: black;
}
/*  start крестик для очистки инпута*/

.wrapper__input {
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
}

.clear {
    position: absolute;
    right: 8px;
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    left: 10px;
    top: 3px;
    height: 15px;
    transform: rotate(-45deg); 
    transition: background-color, 0.2s ease-in;
    background: rgb(175, 180, 200); 
}

.clear::after {
    position: absolute;
    content: '';
    left: 10px;
    top: 3px;
    width: 1px;
    height: 15px;
    transform: rotate(45deg);
    transition: background-color, 0.2s ease-in;
    background: rgb(175, 180, 200);  
}

.clear:hover::after {
    background-color: black;
}

.clear:hover::before {
    background: black;
}

/*  end крестик для очистки инпута*/

.search__btn:active {
    background-color: rgb(57, 167, 201);
}

.image__galery {
    flex-grow: 1;
    margin-top: 20px;
}

.results {
    column-count: 3;
    padding: 0 30px ;
}

.results__search {
    display: flex;
    height: 100%;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.results__search img {
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.results__search img:hover {
    cursor: pointer;
    opacity: 0.8;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.5);
    font-size: 20px;
    padding-top: 8px;
}

@media screen and (max-width: 768px) {
    .results {
        column-count: 2;
        padding: 0 20px ;
    }
    footer {
        font-size: 16px;
}

}

@media screen and (max-width: 320px) {
    .results {
        column-count: 1;
        padding: 0 10px ;
    }
    footer {
        font-size: 12px;
    }

}



    
