/* forum-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 600;
  font-family: "Forum";
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

/*style header start*/
.wrapper__container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 90px;
  background-color: rgba(12, 12, 14, 1);
}

.header__position {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  margin: auto 20px;
}

.header__nav__position {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}

.header__nav {
  margin-right: 10px;
}

.heder__list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.header__item {
  display: inline-flex;
  align-items: end;
  gap: 30px;
  margin-right: 31px;
}

.header__link {
  transition: 1s;
  text-align: center;
}

.header__link:hover {
  transform: scale(1.15);
  color: rgb(156, 179, 179);
  cursor: pointer;
}

.header__image {
  transition: 1s;
  text-align: center;
}

.header__image:hover {
  transform: scale(1.35);
  cursor: pointer;
}

.header__link {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  font-family: "Forum";
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 75%;
}
/*style header end*/

.container {
  width: 1440px;
  margin: 0 auto;
}

/*style welcome start*/
.welcome {
  display: flex;
  height: 600px;
  background: url(../img/welcome_bg.png) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
}

#overlay {
  position: absolute;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 50%
  );
}

.welcome__bg-title {
  position: absolute;
  display: flex;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
  background-color: rgba(12, 12, 14, 1);
}

.welcome__title {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}
/*style welcome end*/

/*style about start*/

.about__title {
  text-align: center;
  color: #0c0c0e;
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
  text: none;
}

.about__info {
  color: #000;
  margin-top: 40px;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.about__inner {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.about__items {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.about__item {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

h2.about__title {
  font-size: 40px;
  color: #0c0c0e;
  text-align: center;
}

h2.about__title::after {
  content: "";
  display: block;
  height: 1px;
  background: #0c0c0e;
  width: 50px;
  margin: 20px auto 10px;
  transition: 1s;
}

h2.about__title:hover::after {
  width: 100px;
  transition: ease-out 1s;
}

.carousel__pagination {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.carousel__button {
  display: flex;
  justify-content: center;
}

.wrapper__button-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}

.button__bg {
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  background: #000;
  border-radius: 100%;
}

/*.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}*/

.wrapper__button-img {
  transition: 1s;
  text-align: center;
}

.wrapper__button-img:hover {
  transform: scale(1.15);
  color: rgb(27, 216, 216);
  cursor: pointer;
}
/*style about end*/

/*style favorites start*/

.favorites__title {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h2.favorites__title {
  font-weight: 400;
  font-size: 40px;
  color: #0c0c0e;
  text-align: center;
  margin-top: 54px;
}

h2.favorites__title::after {
  content: "";
  display: block;
  height: 1px;
  background: #0c0c0e;
  width: 50px;
  margin: 20px auto 3px;
  transition: 1s;
}

h2.favorites__title:hover::after {
  width: 100px;
  transition: ease-out 1s;
}

h3.favorites__info {
  color: #000;
  text-align: start;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-top: 40px;
}

.radio {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  margin-bottom: 0px;
  margin-left: 5px;
  gap: 100px;
}

label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input {
  cursor: pointer;
}

.radio__btn {
  margin-top: 20px;
}

.real__radio-btn {
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.label__radio-btn {
  margin-right: 68px;
}

.custom__radio-btn {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 18px;
}

.custom__radio-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  transform: translate(-50%, -50%) scale(0);
  left: 50%;
  top: 50%;
  transition: 0.2s ease-in;
}

.real__radio-btn:checked + .custom__radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

.label__radio-btn:has(.real__radio-btn:checked) {
  font-weight: 700;
}

/*style favorites books start*/

.favorites__books {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  justify-content: space-between;
  margin-right: 0;
}

.first__book {
  width: 550px;
  margin: 38px 60px 0px 20px;
  border: 1px solid #000000;
}

h3.staff__picks {
  display: block;
  color: #000000;
  font-family: "Forum";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: start;
  margin-top: 15px;
  margin-left: 17px;
}

h3.staff__picks::after {
  content: "";
  display: block;
  height: 1px;
  background: #bb945f;
  width: 60px;
  transition: 1s;
}

h3.staff__picks:hover::after {
  width: 100px;
  transition: ease-out 1s;
}

.name__book {
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 0;
}

.autor__book {
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  margin-left: 20px;
  margin-top: 0;
}

.text_paragraph {
  width: 357px;
  height: 320px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 20px;
}

.second__book {
  width: 550px;
  margin: 40px 20px;
  border: 1px solid #000000;
}

.book_inner-img {
  position: absolute;
  transform: translateY(-100%);
  margin-left: 390px;
  margin-bottom: 0px;
  vertical-align: bottom;
}

.book_inner-img img {
  margin-bottom: -5px;
}

/*style favorites books end*/

/*style button books start*/

.buy__for-submit {
  padding: 9px 27px;
  font-size: 10px;
  font-weight: 700;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 15px;
  margin-left: 20px;
  transition: 0.3s ease-in;
}

.buy__for-submit:hover,
.buy__for-submit:active {
  background-color: #bb945f;
  cursor: pointer;
}

.own__for-submit {
  padding: 9px 27px;
  font-size: 10px;
  font-weight: 700;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
  border-color: #bb945f;
  color: #bb945f;
  margin-bottom: 15px;
  margin-left: 20px;
}

/*style button books end*/
/*style favorites end*/

/*style coffee shop start*/

.coffe_shop__title {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h2.coffe_shop__title {
  font-weight: 400;
  font-size: 40px;
  color: #0c0c0e;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 42px;
}

h2.coffe_shop__title::after {
  content: "";
  display: block;
  height: 1px;
  background: #0c0c0e;
  width: 50px;
  margin: 16px auto 3px;
  transition: 1s;
}

h2.coffe_shop__title:hover::after {
  width: 100px;
  transition: ease-out 1s;
}

h3.coffe-shop__subtitle {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

/*style coffe-tea menu start!*/

.menu {
  display: flex;
  justify-content: space-between;
}

.coffee-tea__menu {
  margin-left: 20px;
}

.coffee-tea__item {
  padding: 0;
}

.coftea__title {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style-type: none;
  text-align: start;
}

.coftea__list {
  display: flex;
  justify-content: end;
  list-style-type: none;
  align-items: center;
  margin-top: 40px;
}

.catolog__list-item_name {
  width: 200px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: start;
  margin: 0 auto;
}

.catolog__list-item_price {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style-type: none;
}

.coftea__list-line-center span::after {
  content: "";
  display: inline-block;
  height: 1px;
  background: #bb945f;
  width: 100px;
  margin: 50px auto 7px 3px;
  margin-left: 60px;
  margin-right: 60px;
}

/*style coffe-tea menu end!*/

/*style dessert menu start!*/

.dessert__menu {
  margin-right: 20px;
}

.dessert__item {
  padding: 0;
}

.dessert__title {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style-type: none;
  text-align: end;
}

.dessert__list {
  display: flex;
  justify-content: end;
  list-style-type: none;
  align-items: center;
  margin-top: 40px;
}

.coftea__list-line-center::after {
  content: "";
  display: inline-block;
  height: 1px;
  background: #bb945f;
  width: 100px;
  margin-left: 60px;
  margin-right: 60px;
}

.descatolog__list-item_name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: end;
}

/*style dessert menu end!*/

/*style our contacts start!*/

.our_contacts__title {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h2.our_contacts__title {
  font-weight: 400;
  font-size: 40px;
  color: #0c0c0e;
  text-align: center;
  margin-bottom: 0;
  margin-top: 44px;
}

h2.our_contacts__title::after {
  content: "";
  display: block;
  height: 1px;
  background: #0c0c0e;
  width: 50px;
  margin: 20px auto 3px;
  transition: 1s;
}

h2.our_contacts__title:hover::after {
  width: 100px;
  transition: ease-out 1s;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.contact__item {
  padding: 0;
  margin-top: 0;
}

.contact__title {
  color: #000;
  text-align: start;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style-type: none;
  margin-bottom: 40px;
}

.contact__title-senier {
  color: #000;
  text-align: start;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style-type: none;
}

.contact__info {
  color: #000;
  text-align: start;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style-type: none;
  margin-bottom: 20px;
}

.contact__link {
  text-decoration: none;
  color: inherit;
}

.senier__staff {
  padding: 0;
}

.contact__link_senier {
  margin-top: 20px;
}

.contact__title-senier {
  margin-bottom: 20px;
  margin-top: 40px;
}

/*style our contacts end!*/

/*style digital library cards start!*/

.digital_library_cards {
  margin-top: 20px;
}

.digital_library_cards__title {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h2.digital_library_cards__title {
  font-weight: 400;
  font-size: 40px;
  color: #0c0c0e;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

h2.digital_library_cards__title::after {
  content: "";
  display: block;
  height: 1px;
  background: #0c0c0e;
  width: 50px;
  margin: 20px auto 3px;
  transition: 1s;
}

h2.digital_library_cards__title:hover::after {
  width: 100px;
  transition: ease-out 1s;
}
.library__cards {
  display: flex;
  justify-content: space-between;
}

.find-library__card {
  position: relative;
  width: 600px;
  height: 386px;
  border: 3px solid;
  border-color: #bb945f;
}

.library-card__bg {
  position: absolute;
  width: 560px;
  height: 272px;
  left: 20px;
  top: 20px;
  background: #bb945f;
}

.bg__title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-top: 20px;
  margin-left: 20px;
}

.find__card {
  position: absolute;
  bottom: 25px;
  margin: 0px 20px;
  gap: 10px;
}

.find-card__label {
  width: 100%;
}

.find-card__text {
  height: 66px;
  padding: 5px 20px;
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
}

.check-card__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  padding: 10px 40px;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
}

.find_library__sub {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 158px;
  margin-bottom: 30px;
  margin-top: 61px;
}
.find-library__card {
  margin-left: 20px;
}

.right-cards__block {
  display: flex;
  flex-direction: column;
}

.left-cards__block {
  display: flex;
  text-align: end;
  margin-top: 61px;
}

.get__card {
  margin-top: 2px;
}

.get-card__title {
  color: #000;
  text-align: end;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.get-card__info {
  width: 457px;
  color: #000;
  text-align: end;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

.get-card__btn {
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  margin-left: 19px;
  margin-top: 35px;
}
